/* Global rules */

body {
    height: 100vh;
    overflow: hidden;
}

/* App wrapper rules */

#app {
    background-color: #045ca7fa;
    overflow-y: auto;
}

/* Header rules */

header {
    background-color: #d48c00;
}

header h1 {
    font-size: 40px;
}

/* Content rules */

main {
    background-image: url(../img/cloud.jpg);
    background-repeat: no-repeat;
    overflow-y: auto;
}

main .card {
    border-radius: 10px;
}

/* Footer rules */

footer {
    background-color: #d48c00;
}