/* Global rules */

body {
    height: 100vh;
    overflow: hidden;
}

/* App wrapper rules */

#app {
    background-color: #ffe7d0;
}

/* Header rules */

header {
    background-color: #ffd7b3;
    border-bottom: 2px solid orange;
}

header h1 {
    font-size: 50px;
}

/* Content rules */

main {
    overflow-y: auto;
}

#whiskey {

}

#zelda {

}

/* Footer rules */

footer {
    background-color: #ffaa60;
}